@use './varaiables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

/* Robust overflow guards */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Media never exceeds container width */
img,
svg,
video {
    max-width: 100%;
    height: auto;
}

/* Long strings (emails/URLs) won't bust the layout */
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div {
    overflow-wrap: anywhere;
    word-break: break-word;
}

/* Mobile: no horizontal gutter to avoid overflow */
@media (max-width: 576px) {
    .row {
        --bs-gutter-x: 0;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }



}




body {
    font-family: 'Roboto', sans-serif;
    background-color: $bg-color;
    color: $text-color;
}

.fs-14 {
    font-size: 14px;
}

.list-style-none {
    list-style: none;
}

.btn {
    color: white
}

.add-btn {
    display: flex;
    align-items: center;


    justify-content: flex-start;

    gap: 0.75rem;

    width: 100%;

    max-width: 100%;

    box-sizing: border-box;


    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        /* stack on mobile */

        /* make children full-width neatly */
        a {
            width: 50%;

        }
    }

    a {
        gap: 5px;

    }
}

.btn-primary {
    background-color: $primary;
    border: none;
    font-weight: bold;

    &:hover {
        background-color: lighten($primary, 10%);
    }

    &:active,
    &:focus {
        box-shadow: none;
    }
}

.search {

    width: 300px;

}

.dashboard-wrapper {
    display: unset;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
}

.txt-right {
    text-align: right;
}

.form-card {
    width: 40%;

    @media screen and (max-width:900px) {
        width: 70%;
    }

    box-shadow:inset 0px 8px 7px 2px #010f66;

    .card-header {
        background: linear-gradient(90deg, #0A1F44, #1E3A8A);
    }

    label {
        font-weight: bold;
    }
}

img {
    border-radius: 50%;
    width: 200px;

}

.btn {
    width: 160px !important;
}

.cancel-btn {
    background-color: white;
    border: 2px solid $primary;
    color: $primary;

    &:hover {
        background-color: darken(gray, 20%);
        color: white;
    }
}