$primary:#6366f1;;
$secondary:#22d3ee;

$accent:#F59E0B;
$active:#22c55e;
$inactive:#Ef4444;
$bg-color:#F8FAFC;
$text-color:#111827;
$danger:#e53935;
$add-hover:#4f46e5;
$view-btn:#eef2ff;
$view-hover:#e0e7ff;