@use '../../styles/varaiables' as *;

.employee-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    text-align: center;
    margin-top: 55px;
    border-radius: 16px;

    transition: all 0.3s ease;


    .card-header {
        background: linear-gradient(135deg, $primary, $secondary);
        border-radius: 16px 16px 0 0;
        height: auto;

    }

    .emp-card-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid white;
        margin-top: -55px;
    }

    .emp-role {
        font-size: 14px;
        padding: 4px 10px;
        display: inline-block;
        background: $view-btn;
        border-radius: 20px;
        color: $primary;
        font-weight: 600;

    }

    .card-text {
        color: #64748b;
        font-size: 13px;
    }



    &:hover {
        transform: translateY(-6px);
        box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.12);
    }

    &.show {
        opacity: 1;
        transform: translateY(0);
    }


}

.error-card {
    background: linear-gradient(90deg, #0A1F44, #1E3A8A);
    font-weight: bold;
    //color: white;
}

.btn-actions {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;


    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        font-weight: 600;
        border-radius: 10px;
        transition: all 0.2s ease;

        &:hover {
            transform: scale(1.05);
            // opacity: 0.9;
        }
    }

}


.view-btn {
    background-color: $view-btn;
    color: $primary;
    //border:1px solid $primary;

    //border:2px solid  $primary;
    //color:$primary;
    &:hover {
        //background:linear-gradient(90deg,#06275d,#2563EB);
        // background: unset;
        background-color: darken($view-btn, 10%);
        // color: $primary;

    }



}

.edit-btn {
    background-color: rgb(216 243 216);
    color: $active;

    &:hover {
        background-color: darken(rgb(216 243 216), 20%);
        color: white;

    }


}

.delete-btn {
    background-color: #fee2e2;
    color: $inactive;

    &:hover {
        background-color: darken(#fee2e2, 20%);
        color: white;
    }

}

.view-card .card {
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);

    @media(min-width:768px) {
        width: 75%;
    }
}

.view-emp-details {
    display: flex;
    gap: 20px;
    align-items: center;

    @media(max-width:768px) {
        flex-direction: column;
    }

    img {
        border-radius: 50%;
    }

    @media (min-width:768px) {

        .grid {
            display: grid;
            grid-template-columns: repeat(2, max-content);
            gap: 10px 40px;
        }
    }
}



.err-img {
    border-radius: unset;
    width: 100px;
}

.card:has(.txt-number) {
    border-radius: 16px;
    height: 100%;
    transform: translateY(5px);
    transition: all;

    .fa-solid {
        font-size: 22px;
        border-radius: 50%;
    }

    &:hover {
        transform: translateY(-5px);
        transition: all 0.2s ease;
    }

    @media (max-width:768px) {
        margin-top: 10px;
        height: fit-content;
    }

}

.txt-number {
    font-size: 36px;
    font-weight: 700;
}



.active-card {
    //background: green;
    border-top: $active 5px solid;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    .fa-solid {
        background-color: #dcfce7;
        color: #16a34a;
    }


}

.total-card {
    //background: $accent;
    border-top: $primary 5px solid;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    .fa-solid {
        background-color: #eef2ff;
        color: $primary;
    }

}

.inactive-card {
    border-top: $inactive 5px solid;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    .fa-solid {
        background-color: #fee2e2;
        color: #dc2626;
    }
}